@model CAPA.DOMAIN.DTOs.Producto.ProductoDto

@{
    ViewData["Title"] = "Producto";
}

<div class="container mt-5">
    <h2>Producto</h2>
    <form action="Mantenimiento" method="post" >
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" asp-for="Nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" asp-for="Descripcion"></textarea>
        </div>
        <div class="form-group">
            <label for="categoriaId">Categoría ID</label>
            <select asp-for="Categoria" class="form-control">
                <option value="1">Servicio</option>
                <option value="2">Bien</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen (URL)</label>
            <input type="text" class="form-control" asp-for="Imagen" >
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input type="number" class="form-control" asp-for="Precio" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" asp-for="Stock" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </form>
</div>