@{
    ViewData["Title"] = "Usuario";
}
@model List<CAPA.DOMAIN.DTOs.UsuarioDto>

<h1>USUARIO</h1>

@if(ViewBag.error != null)
{
    <span class="text-danger">@ViewBag.error</span>
}

@if (Model.Any())
{

    <table class="table w-100 table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CAPA.DOMAIN.DTOs.UsuarioDto item in Model)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay registros que mostrar</p>
}

